body{
    background-image: url("american_bison.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-width: 100vw;
    min-height: 100vh;
    /* margin: auto; */
}

img{
    max-width: 25vw;
    /* max-height: 25vh; */
    float: center;
    border-radius: 50%;
}

.container{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    "header"
    "about"
    "projects"
    "footer";
    background-color: rgba(71, 61, 139, 0.801);
    text-align: center;
    justify-content: center;
    /* max-width: 100vw; */
    /* margin: auto; */
}

.container > *{
    display: flex;
    max-width: 90vw;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

header{
    grid-area: header;
    text-align: center;
    font: normal bold 5vw fantasy;
}

footer{
    grid-area: footer;
    flex-direction: row;
    justify-content: center;
}

/* @media screen and (min-width: 600px){

}

@media screen and (min-width: 960px){

} */