<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Josh's Portfolio</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://kit.fontawesome.com/2165ed5158.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <header id="header">
        <p>Hello.  My name is Josh.</p>
        </header>
        <div id="about">
            <img src="../static/profile_pic.jpg" alt="Profile Picture">
            <p>I am currently completing a full stack web developer boot camp through PDX Code Guild.  I am looking forward to graduating in February of 2023 and have experience with the languages and frameworks listed on this page.</p>
        </div>
        <div id="projects">
            <h2 id="mobile">Languages</h2>
            <span id="mobile">
                <a href="https://www.python.org/"></a><i class="fa-brands fa-python fa-2xl"></i>
                <a href="https://html.spec.whatwg.org/multipage/"></a><i class="fa-brands fa-html5 fa-2xl"></i>
                <a href="https://www.w3.org/Style/CSS/Overview.en.html"></a><i class="fa-brands fa-css3-alt fa-2xl"></i>
            </span>
            <h1 id="tablet">Languages</h1>
            <span id="tablet">
                <a href="https://www.python.org/"></a><img id="icons" src="../static/Python-logo-notext.png" alt="Python Logo"><!-- By www.python.org - www.python.org, <a href="http://www.gnu.org/licenses/gpl.html" title="GNU General Public License">GPL</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=34991651">Link</a> -->
                <a href="https://html.spec.whatwg.org/multipage/"></a><img id="icons" src="../static/HTML5_logo_and_wordmark.png" alt="HTML5 Logo"><!-- By <a rel="nofollow" class="external text" href="https://www.w3.org/html/logo/index.html">W3C</a>, <a href="https://creativecommons.org/licenses/by/3.0" title="Creative Commons Attribution 3.0">CC BY 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=12736763">Link</a> -->
                <a href="https://www.w3.org/Style/CSS/Overview.en.html"></a><img id="icons" src="../static/CSS3_logo_and_wordmark.png" alt="CSS3 Logo"><!-- By Rudloff - &lt;a href=&quot;//commons.wikimedia.org/wiki/File:CSS3_and_HTML5_logos_and_wordmarks.svg&quot; title=&quot;File:CSS3 and HTML5 logos and wordmarks.svg&quot;&gt;File:CSS3 and HTML5 logos and wordmarks.svg&lt;/a&gt;, <a href="https://creativecommons.org/licenses/by/3.0" title="Creative Commons Attribution 3.0">CC BY 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=49121103">Link</a> -->
            </span>
            <h2 id="desktop">Languages</h2>
            <span id="desktop">
                <a href="https://www.python.org/"></a><img id="icons" src="../static/Python-logo-notext.png" alt="Python Logo"><!-- By www.python.org - www.python.org, <a href="http://www.gnu.org/licenses/gpl.html" title="GNU General Public License">GPL</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=34991651">Link</a> -->
                <a href="https://html.spec.whatwg.org/multipage/"></a><img id="icons" src="../static/HTML5_logo_and_wordmark.png" alt="HTML5 Logo"><!-- By <a rel="nofollow" class="external text" href="https://www.w3.org/html/logo/index.html">W3C</a>, <a href="https://creativecommons.org/licenses/by/3.0" title="Creative Commons Attribution 3.0">CC BY 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=12736763">Link</a> -->
                <a href="https://www.w3.org/Style/CSS/Overview.en.html"></a><img id="icons" src="../static/CSS3_logo_and_wordmark.png" alt="CSS3 Logo"><!-- By Rudloff - &lt;a href=&quot;//commons.wikimedia.org/wiki/File:CSS3_and_HTML5_logos_and_wordmarks.svg&quot; title=&quot;File:CSS3 and HTML5 logos and wordmarks.svg&quot;&gt;File:CSS3 and HTML5 logos and wordmarks.svg&lt;/a&gt;, <a href="https://creativecommons.org/licenses/by/3.0" title="Creative Commons Attribution 3.0">CC BY 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=49121103">Link</a> -->
            </span>
            <h2 id="mobile">Frameworks</h2>
            <span id="mobile">
                <a href="https://getbootstrap.com/"></a><i class="fa-brands fa-bootstrap fa-2xl"></i>
                <a href="https://flask.palletsprojects.com/en/2.2.x/"></a><img id="flask" src="../static/Flask_logo.png" alt="Flask Logo">
            </span>
            <h1 id="tablet">Frameworks</h1>
            <span id="tablet">
                <a href="https://getbootstrap.com/"></a><img id="icons" src="../static/Bootstrap_logo.png" alt="Bootstrap Logo"></i><!-- By &lt;a href=&quot;https://en.wikipedia.org/wiki/en:Bootstrap_(front-end_framework)&quot; class=&quot;extiw&quot; title=&quot;w:en:Bootstrap (front-end framework)&quot;&gt;&lt;span title=&quot;web design front-end framework&quot;&gt;Bootstrap&lt;/span&gt;&lt;/a&gt; - &lt;a rel=&quot;nofollow&quot; class=&quot;external free&quot; href=&quot;https://blog.getbootstrap.com&quot;&gt;http://blog.getbootstrap.com&lt;/a&gt;, Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=31249826">Link</a> --> 
                <a href="https://flask.palletsprojects.com/en/2.2.x/"></a><img id="icons" src="../static/Flask_logo.png" alt="Flask Logo"><!-- By Armin Ronacher - &lt;a rel=&quot;nofollow&quot; class=&quot;external free&quot; href=&quot;http://flask.pocoo.org/static/logo/flask.svg&quot;&gt;http://flask.pocoo.org/static/logo/flask.svg&lt;/a&gt;, <a href="//commons.wikimedia.org/wiki/File:Flask_logo.svg" title="Copyrighted free use">Copyrighted free use</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=19501815">Link</a> -->
            </span>
            <h2 id="desktop">Frameworks</h2>
            <span id="desktop">
                <a href="https://getbootstrap.com/"></a><img id="icons" src="../static/Bootstrap_logo.png" alt="Bootstrap Logo"></i><!-- By &lt;a href=&quot;https://en.wikipedia.org/wiki/en:Bootstrap_(front-end_framework)&quot; class=&quot;extiw&quot; title=&quot;w:en:Bootstrap (front-end framework)&quot;&gt;&lt;span title=&quot;web design front-end framework&quot;&gt;Bootstrap&lt;/span&gt;&lt;/a&gt; - &lt;a rel=&quot;nofollow&quot; class=&quot;external free&quot; href=&quot;https://blog.getbootstrap.com&quot;&gt;http://blog.getbootstrap.com&lt;/a&gt;, Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=31249826">Link</a> --> 
                <a href="https://flask.palletsprojects.com/en/2.2.x/"></a><img id="icons" src="../static/Flask_logo.png" alt="Flask Logo"><!-- By Armin Ronacher - &lt;a rel=&quot;nofollow&quot; class=&quot;external free&quot; href=&quot;http://flask.pocoo.org/static/logo/flask.svg&quot;&gt;http://flask.pocoo.org/static/logo/flask.svg&lt;/a&gt;, <a href="//commons.wikimedia.org/wiki/File:Flask_logo.svg" title="Copyrighted free use">Copyrighted free use</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=19501815">Link</a> -->
            </span>
        </div><br>
        <footer id="footer">
            <h3 id="mobile">Get in Touch</h3>
            <h2 id="tablet">Get in Touch</h2>
            <h3 id="desktop">Get in Touch</h3>
            <span>
                <a href="https://github.com/josh-on-github"></a><i class="fa-brands fa-github fa-2xl"></i>
                <a href="www.linkedin.com/in/josh-goad"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
                <a href="mailto:me@email.com"><i class="fa-solid fa-envelope fa-2xl"></i></a><!-- update with hidden email address -->
            </span>
        </footer>
    </div>
</body>
</html>