<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Josh's Portfolio</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div>About Me
        <img src="../static/profile_pic.jpg" alt="Profile Picture">
        <span>Name</span>
        <span>Photo</span>
        <span>Blurb (What I've done and where I'm going)</span>
    </div>
    <div>Projects
        <span>Samples of my work.</span>
    </div>
    <div>Contact Me
        <span>GitHub, LinkedIn, Email</span>
    </div>
</body>
</html>