<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Josh's Portfolio</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://kit.fontawesome.com/2165ed5158.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <header></header>
        <div id="about">
            <p>Hi.  My name is Josh.</p>
            <img src="../static/profile_pic.jpg" alt="Profile Picture">
            <p>I am currently completing a full stack web developer boot camp through PDX Code Guild.  I am looking forward to graduating in February of 2023 and have experience with the following:</p>
        </div>
        <div id="projects">
            <h3>Languages</h3>
            <span>
                <i class="fa-brands fa-python fa-2xl"></i>
                <i class="fa-brands fa-html5 fa-2xl"></i>
                <i class="fa-brands fa-css3-alt fa-2xl"></i>
            </span><br>
            <h3>Frameworks</h3>
            <span>
                <i class="fa-brands fa-bootstrap fa-2xl"></i>
                <img id="flask" src="https://www.pngfind.com/pngs/m/128-1286693_flask-framework-logo-svg-hd-png-download.png" alt="Flask">
            </span><br>
        </div><br>
        <footer id="footer">
            <h3>Get in Touch</h3>
            <span>
                <a href="https://github.com/josh-on-github"></a><i class="fa-brands fa-github fa-2xl"></i>
                <a href="www.linkedin.com/in/josh-goad"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
                <a href="mailto:me@email.com"><i class="fa-solid fa-envelope fa-2xl"></i></a><!-- update with hidden email address -->
            </span>
        </footer>
    </div>
</body>
</html>